<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cam-contrasena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cam-contrasena</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item class="fondo input ion-margin-top" lines="none">
    <ion-input label="Usuario" 
              labelPlacement="floating" [(ngModel)]="mdl_usuario"> </ion-input>
  </ion-item>
  <ion-item class="fondo input ion-margin-top" lines="none">
    <ion-input type="password" label="Contraseña" 
              labelPlacement="floating" [(ngModel)]="mdl_contrasena"> </ion-input>
  </ion-item>

  <ion-button expand="block"  class="boton" (click)="modificar()"> Modificar Contrasena </ion-button>
</ion-content>
